.signIn-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 8px;
  width: 40%;
  .signIn-title {
    margin: 10px 0;
    font-size: 32px;
  }
  .sub-title{
    font-size: 18px;
    font-weight: bold;
  }
}

.buttons-container {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.sign-in__icon {
  background-color: white;
  padding: 2.5px;
}
