.signUp-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  width: 30%;
  .signUp-title {
    margin: 10px 0;
  }
}

.buttons-container {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
