@import '../node_modules/open-color/open-color.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: #f6f9fc;
  --dark-terminal-color: #0a2540;
  --accent-color: #635bff;
  --radius: 3px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem = 10px
}
body {
  padding: 1.5rem 3rem;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: $oc-black;
}

::selection {
  background-color: $oc-green-8;
  color: $oc-white;
}

.sub-title {
  color: $oc-blue-4;
}
